@{
    ViewBag.Title = "关于景悦锦辰";
}

<div id="about-kinver" class="container container-margin-top">
    <div class="page-title" style="margin-bottom:40px;margin-top:20px;">
        <h2>关于景悦锦辰</h2>
    </div>
    
    <div class="row">
        <div class="span8">
            <p style="text-indent:2em;">
                北京景悦锦辰贸易有限公司致力于将美国、加拿大、澳大利亚、新西兰以及欧盟国家的高品质食品带给国内消费者，公司产品涵盖海产（阿拉斯加帝王蟹、加拿大龙虾、加拿大带子、越南黑虎虾、挪威三文鱼、法国银鳕鱼等高端进口海产品）、肉制品（澳洲和牛、美国安格斯牛肉、新西兰羊排、西班牙猪肉等）、油料（西班牙橄榄油、意大利橄榄油、葡萄籽油等），我们追求0添加、高品质的食材。
            </p>
            <p style="text-indent:2em;">
                我们尊重我们的消费者，选择景悦您即选择了健康与品位，选择景悦我们将与您一路相伴。
            </p>
        </div>
        <div class="span4" style="text-align:center;">
            <img src="@Url.Content("~/Content/Images/logo-w240.png")" alt="北京景悦锦辰贸易有限公司Logo"/>
        </div>
        
    </div>
</div>
