@{
    ViewBag.Title = "联系我们";
}

<div id="about-kinver" class="container container-margin-top">
    <div class="page-title" style="margin-bottom:40px;margin-top:20px;">
        <h2>联系我们</h2>
    </div>
    
    <div class="row">
        <div class="span4">
            <p>
                地址：北京市海淀区信息路15号5层519
            </p>
            <p>
                电话：8610-82226488
            </p>
            <p>
                邮箱：kinver_elvis[at]hotmail.com
            </p>

        </div>
        <div class="span8" style="text-align:right;">
            <iframe width="500" height="360" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://map.sogou.com/card/index+s=500,360&p=1000&m=go2map&pl=r&d=1354762105842252.html#"></iframe>
        </div>
        
    </div>
</div>
