@model MVCKinver.Models.Service

@{
    ViewBag.Title = "Details";
}
<div class="container container-margin-top">

    <h2>@Model.Title</h2>
    <p>
        @Model.KeyDescription
    </p>
    <p>
        @Model.PlusDescription
    </p>
</div>