ul,li,dl,dd,dt{list-style-type:none;padding:0;margin:0;border:0;}


h3 {
    color:#555;
}


ul#product-list
{
	list-style: none;
	margin-left: 0px;
}

ul#product-list li
{
	float: left;
	margin: 20px 10px 20px 10px;
	text-align: left;
}

ul#product-list li a span
{
	color: #9b9993;
	text-decoration: underline;
}
    /*列表图片大小适应两种分辨率*/

    ul#product-list li {
        width:240px;
        height:260px;
    }

    ul#product-list .product-title a {
        font-size:1em;
    }

    ul#product-list img {
        width:240px;
    }

    @media (min-width: 1200px) {
        ul#product-list img {
            width:300px;
        }

        ul#product-list .product-title a {
        font-size:1.2em;
        }

        ul#product-list li {
        width:300px;
        height:270px;
        }
    }

/*图片的鼠标悬浮过渡*/
ul#product-list img, #hot-products img, #product-details-images img {
    -webkit-transition: all .2s ease-in;
}
    
    ul#product-list img:hover,#hot-products img:hover,#product-details-images img:hover {
        /*透明度*/
        opacity:0.6;
        /*旋转*/
        /*-webkit-transform:rotate(3deg);
        -moz-transform:rotate(3deg);
        -o-transform:rotate(3deg);
        -ms-transform:rotate(3deg);*/
    }

#cart
{
	float: right;
}

#update-message
{
	color: #FF8327;
}



/******************** Top Navigation ************************/
ul#navlist
{
	float: right;
}

ul#navlist li
{
	display: inline;
}

ul#navlist li a
{
	padding: 10px;
	color: dodgerblue;
	text-decoration: none;
	float: left;
    font-weight:lighter;
}

ul#navlist li:first-child a
{
	border: none;
}

ul#navlist li a:hover
{
	color:white;
}

/********************* End top navigation ***************************/


a:link, a:visited
{
	color: dodgerblue;
	text-decoration: none;
}

a:hover
{
	color: #333333;
	text-decoration: none;
}

a:active
{
	color: #006633;
	text-decoration: none;
}

/***************************** sidebar navigation ****************************/

/* Form styles */
div.editor-field
{
	margin-bottom: 10px;
}

/* Styles for validation helpers */
.field-validation-error {
    color: #ff8327;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/*
    Added for Kinver
    Added date:20121123
*/

#main {
    min-height:700px;
}

#services h3,
#hot-products h3,
#restaurants h3
{
    margin-top:60px;
    margin-bottom:40px;
    margin-left:auto;
    margin-right:auto;
    font-weight:lighter;
    text-align:center;
    font-size:36px;
}

#services h4 {
    text-align:center;
    margin-top:20px;
}

#services p {
    text-align:center;
}

#services img {
    width:auto;
}

#services .span3 {
    text-align:center;
}

#hot-products .title {
    margin-top:10px;
}

    #hot-products .title a {
        font-size:1.2em;
    }

#restaurants {
text-align:center;

}

.restaurant {
    height:200px;
    padding-top:50px;
}

    .restaurant img {
        margin:auto;
        vertical-align:central;
    }

#kinvernav {
    float:right;
}

.container-margin-top {
    margin-top:80px;
}

#footer-links,#footer-copyright,#powered-by {
    text-align:center;
    line-height:24px;
    color:gray;
}

    #footer-links a {
        margin:20px,10px;
    }

    #footer-links span {
        margin:10px;
    }

    #footer-copyright span {
        margin:5px;
    }

.nav-left {
    width:inherit;
}

.carousel-control {
    height:100px;
    background-color:transparent;
    border:0;
    font-size:120px;
    margin-top:0;
    text-shadow:0 1px 1px rgba(0,0,0,0.4);
    color:gray;
}

#footer
{
    margin-top:30px;
    background-color:white;
	clear: both;
	padding: 10px;
	text-align: right;
	font-family: 'Microsoft YaHei';
}

#promotion {
    background-image:url(/content/Images/loading.gif);
    background-position:center;
    background-repeat:no-repeat;
}

#promotion1, #promotion2, #promotion3 {
    border-bottom:1px dotted #aaa;
}

#promotion1
{
    height: 550px;
    margin-top:20px;
	margin-left:0;
    margin-right:0;
    background-image:url(/content/Images/hero-page-one.jpg);
    background-position:center;
    background-repeat:no-repeat;
    text-align:center;
    
}

    #promotion1 a {
        margin-top:400px;
        background-color:rgba(255,255,255, 0.70);
        background-image:none;
        text-shadow:1px 1px 1px #eee;
        color:#390505;
        -webkit-transition:all 0.2s ease-in-out;
    }

        #promotion1 a:hover {
            background-color:rgba(255,255,255,1);
        }

#promotion2 {
    height: 550px;
    margin-top:20px;
	margin-left:0;
    margin-right:0;
    background-image:url(/content/Images/hero-page-two.jpg);
    background-position:center;
    background-repeat:no-repeat;
    text-align:left;
}

    #promotion2 .contents {
        margin-left:50px;
        margin-top:100px;
    }

    #promotion2 a {
        margin-top:50px;
        background-color:rgba(255,255,255, 0.70);
        background-image:none;
        text-shadow:1px 1px 1px #eee;
        color:#390505;
        -webkit-transition:all 0.2s ease-in-out;
    }

        #promotion2 a:hover {
            background-color:rgba(255,255,255,1);
        }

#promotion3
{
    height: 550px;
    margin-top:20px;
	margin-left:0;
    margin-right:0;
    background-image:url(/content/Images/hero-page-three.jpg);
    background-position:center;
    background-repeat:no-repeat;
    text-align:right;
    
}

    #promotion3 .contents {
        margin-right:50px;
        margin-top:300px;
    }

        @media (min-width: 1200px) {
            #promotion3 .contents {
                margin-right: 150px;
                margin-top: 300px;
            }
        }

    #promotion3 a {
        margin-top:30px;
        background-color:rgba(255,255,255, 0.70);
        background-image:none;
        text-shadow:1px 1px 1px #eee;
        color:#390505;
        -webkit-transition:all 0.2s ease-in-out;
    }

        #promotion3 a:hover {
            background-color:rgba(255,255,255,1);
        }


/*产品详情页样式*/

h4.product-details-label {
    margin-top:30px;
    margin-bottom:20px;
    color:gray;
}

#product-details-services {
    float:right;
    margin-top:10px;
    height:50px;
    width:260px;
}

    #product-details-services img {
        margin-right:10px;
        display:inline;
    }

#product-details-intro {
    margin-top:20px;
    margin-bottom:40px;
}

img.bigcursor {
    cursor:url(/Content/Images/big.cur),auto!important;
}

.tooltip-icon {
    cursor:pointer;
}

.nav-stacked > li > span {
  margin-right: 0;
}

.nav-tabs.nav-stacked > li > span {
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}


.nav-tabs.nav-stacked > li:first-child > span {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-topleft: 4px;
}


.left-nav-header {
    display: block;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  color: #666;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.nav-left .icon-chevron-right {
    float:right;
    margin-top:12px;
    margin-right:6px;
}

.opacity-point-twentyfive {
    opacity:.25;
}

#product-details-images-xing {
    margin:10px;
}

#NotFound {
    background:url(/Content/Images/404.png) no-repeat;
    width:450px;
    height:320px;
    float:left;

}

#kinver-logo {
    background-image:url(/Content/Images/kinver-logo-2.png);
    background-position:left top;
    background-repeat:no-repeat;
    width:220px;
    height:40px;
    float:left;
    transition:  ease-in .2s;
    -webkit-transition:all ease-in .2s;
    -moz-transition:all ease-in .2s;
}

    #kinver-logo img {
        transition:  ease-in .2s;
        -webkit-transition:all ease-in .2s;
        -moz-transition:all ease-in .2s;
    }

#kinver-logo img:hover {
    opacity:0;
    -moz-opacity:0;
}

#order-form #Address {
    width:412px;
}

#order-form #PostalCode {
    width:100px;
}

#order-form #PhoneNumber {
    width:306px;
}