

ul#product-list
{
	list-style: none;
	margin-left: 0px;
}

ul#product-list li
{
	width: 300px;
	float: left;
	margin: 10px;
	text-align: center;
}

ul#product-list li a, ul#product-list li .button
{
	font-size: 13px;
	float: left;
}

ul#product-list li a span
{
	color: #9b9993;
	text-decoration: underline;
}

#cart
{
	float: right;
}

#update-message
{
	color: #F6855E;
	font-weight: bold;
}

.button, input[type=submit]
{
	clear: both;
	display: inline-block;
	padding: 5px;
	margin-top: 10px; 
	border: 1px;
	background: #5e5b54;
	color: #fff;
	font-weight: bold;
}

.button a
{
	color: #fff !important;
}



/******************** Top Navigation ************************/
ul#navlist
{
	float: right;
}

ul#navlist li
{
	display: inline;
}

ul#navlist li a
{
	padding: 10px;
	color: dodgerblue;
	text-decoration: none;
	float: left;
    font-weight:lighter;
}

ul#navlist li:first-child a
{
	border: none;
}

ul#navlist li a:hover
{
	color:white;
}

/********************* End top navigation ***************************/


a:link, a:visited
{
	color: dodgerblue;
	text-decoration: none;
}

a:hover
{
	color: #333333;
	text-decoration: none;
}

a:active
{
	color: #006633;
	text-decoration: none;
}

/***************************** sidebar navigation ****************************/

/* Form styles */
legend
{
	padding: 10px;
	font-weight: bold;
}

fieldset
{
	border: #9b9993 1px solid;
	padding: 0 10px;
	margin-bottom: 10px;
	clear: left;
}

div.editor-field
{
	margin-bottom: 10px;
}

input[type=text], input[type=password], select
{
	border: 1px solid #8A8575;
	width: 300px;
}

/* Styles for validation helpers */
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/*
    Added for Kinver
    Added date:20121123
*/

#services h3,
#hot-products h3,
#restaurants h3
{
    margin-top:60px;
    margin-bottom:40px;
    margin-left:auto;
    margin-right:auto;
    font-weight:lighter;
    text-align:center;
    font-size:36px;
}

#services h4 {
    text-align:center;
    margin-top:20px;
}

#services p {
    text-align:center;
}

#services img {
    width:inherit;
}

#hot-products .title {
    margin-top:10px;
}

    #hot-products .title a {
        color:dodgerblue;
        font-weight:bolder;
    }

    #hot-products .title .price {
        float:right;
        font-family:Georgia;
        color:tomato;
    }

        #hot-products .title .price .kg {
            color:gray;
        }

#restaurants img {
    width:170px;
    height:70px;
}

#kinvernav {
    float:right;
}

.container-margin-top {
    margin-top:50px;
}

#footer-copyright {
    color:gray;
}

#footer-links,#footer-copyright {
    text-align:center;
    line-height:24px;
}

    #footer-links a {
        margin:20px,10px;
        color:dodgerblue;
    }

    #footer-links span {
        margin:10px;
    }

    #footer-copyright span {
        margin:5px;
    }

.nav-left {
    width:inherit;
}

.carousel-control {
    background-color:transparent;
    border:0;
    font-size:120px;
    margin-top:0;
    text-shadow:0 1px 1px rgba(0,0,0,0.4);
    color:gray;
}

#footer
{
    margin-top:30px;
    background-color:white;
	clear: both;
	padding: 10px;
	text-align: right;
	font-family: 'Microsoft YaHei';
}

#promotion1,#promotion2,#promotion3,#promotion
{
    height: 550px;
	margin-left:0;
    margin-right:0;
	background: url(/content/Images/hero-page.jpg) center 20px,0,0,0 no-repeat ;
}


/*产品详情页样式*/

h4.product-details-label {
    margin-top:30px;
    margin-bottom:20px;
    color:gray;
}

#product-details-services {
    float:right;
}

#product-details-intro {
    margin-top:20px;
    margin-bottom:40px;
}

.tooltip-icon {
    cursor:pointer;
}



